.first-section {
    justify-content: center;
    background-image: url(../assets/\ first_background.jpg);
    background-size: cover;
    height: 800px;
}

.first-section-article {
    margin-top: 252px;
    display: flex;
    height: auto;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-section-article img {
    width: 63px;
    height: 63px;
}

.first-section-article h1 {
    margin-top: 13px;
}

.first-section-article h2 {
    /*
        MAKET SHOWS THE WRONG SPACING - 42px;
        ACCORDING TO PERFECT PIXEL EXTENSION IT SHOULD BE 33px 
    */
    margin-top: 33px;
}