footer {
    height: 170px;
    background-color: rgba(70, 69, 71, 1);

    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-logo-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;

    margin-top: 19px;
    margin-left: 145px;
}

.footer-contact-container {
    margin-left: 140px;

    display: flex;
    flex-direction: column;
}

.footer-contact-container p, a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;

    line-height: 19px;
}