*, *:before, *:after {
 box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
}

section {
    margin: 0;
}

p, h1, h2, h3 {
    margin: 0;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: rgba(255, 255, 255, 1);
    line-height: 64px;
    text-align: center;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    color:rgba(255, 255, 255, 0.7);
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.25rem;
    
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: rgba(0, 0, 0, 1);

}
