.second-section {
    background-color: rgba(238, 238, 238, 1);
    width: auto;
    height: 700px;
}

.second-section-article {
    display: flex;
    flex-direction: column;
    margin-top: 87px;
    margin-bottom: 98px;
}

.second-section-article h1 {
    align-self: center;
    width: 669px;
    color: rgba(70, 69, 71, 1);
}

.second-section-article h2 {
    align-self: center;
    /*
        MAKET SHOWS THE WRONG SPACING - 40px;
        ACCORDING TO PERFECT PIXEL EXTENSION IT SHOULD BE 30px 
    */
    margin-top: 30px;
    width: 426px;
    color: rgba(102, 102, 102, 1);
}

.second-section-article p {
     /*
        MAKET SHOWS THE WRONG SPACING - 48px;
        ACCORDING TO PERFECT PIXEL EXTENSION IT SHOULD BE 43px 
    */
    margin-top: 43px;
    width: 983px;
    height: 194px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.second-section-article button {
    align-self: center;
    margin-top: 21px;
    width: 115px;
    height: 36px;
    background-color:rgba(85, 194, 216, 1);
    border-width: 0;
    border-radius: 18px;
    color: white;

    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 100;
    text-align: center;
    letter-spacing: 0.111rem;
    text-transform: uppercase;
}