.third-section {
    display: flex;
    flex-direction: column;
    height: 666px;
    background: url(../assets/third_background.jpg);
    background-size: cover;
}


.third-section-color-layer {
    width: auto;
    height: 666px;
    background-color: rgba(140, 79, 42, 0.3);
}

.third-section-article {
    margin-top: 84px;
    display: flex;
    flex-direction: column;
}

.third-section-article h1 {
    align-self: center;
}

.third-section-article button {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
     /*
        MAKET SHOWS THE WRONG SPACING - 53px;
        ACCORDING TO PERFECT PIXEL EXTENSION IT SHOULD BE 42px 
    */
    margin-top: 42px;
    width: 150px;
    height: 150px;

    background-color: rgba(57, 194, 215, 1);
    border-width: 0;
    border-radius: 50%;
}

.third-section-article button img {
    margin-left: 15px;
}

.third-section-article h2 {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 390px;
}

